openapi: 3.0.0
info:
  title: Fuel Station API
  version: 1.0.0
  description: API do zarządzania stacjami paliwowymi, cenami, rodzajami paliw, użytkownikami i klientami.

servers:
  - url: https://api.fuelstations.com/v1

paths:
  /stations:
    get:
      summary: Pobierz listę stacji paliw
      operationId: getStations
      tags:
        - Stations
      responses:
        '200':
          description: Lista stacji paliw
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'

    post:
      summary: Dodaj nową stację paliw
      operationId: createStation
      tags:
        - Stations
      requestBody:
        description: Dane nowej stacji paliw
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Station'
      responses:
        '201':
          description: Stacja została dodana
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'

  /stations/{id}:
    get:
      summary: Pobierz szczegóły stacji
      operationId: getStationById
      tags:
        - Stations
      parameters:
        - name: id
          in: path
          required: true
          description: ID stacji paliw
          schema:
            type: integer
      responses:
        '200':
          description: Szczegóły stacji paliw
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'

    put:
      summary: Zaktualizuj dane stacji
      operationId: updateStation
      tags:
        - Stations
      parameters:
        - name: id
          in: path
          required: true
          description: ID stacji paliw
          schema:
            type: integer
      requestBody:
        description: Zaktualizowane dane stacji
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Station'
      responses:
        '200':
          description: Zaktualizowana stacja paliw
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'

    delete:
      summary: Usuń stację paliw
      operationId: deleteStation
      tags:
        - Stations
      parameters:
        - name: id
          in: path
          required: true
          description: ID stacji paliw
          schema:
            type: integer
      responses:
        '200':
          description: Stacja została usunięta
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Stacja została usunięta."

  /users:
    get:
      summary: Pobierz listę użytkowników
      operationId: getUsers
      tags:
        - Users
      responses:
        '200':
          description: Lista użytkowników
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

    post:
      summary: Dodaj nowego użytkownika
      operationId: createUser
      tags:
        - Users
      requestBody:
        description: Dane nowego użytkownika
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: Użytkownik został dodany
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /users/{id}:
    get:
      summary: Pobierz szczegóły użytkownika
      operationId: getUserById
      tags:
        - Users
      parameters:
        - name: id
          in: path
          required: true
          description: ID użytkownika
          schema:
            type: integer
      responses:
        '200':
          description: Szczegóły użytkownika
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    put:
      summary: Zaktualizuj dane użytkownika
      operationId: updateUser
      tags:
        - Users
      parameters:
        - name: id
          in: path
          required: true
          description: ID użytkownika
          schema:
            type: integer
      requestBody:
        description: Zaktualizowane dane użytkownika
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Zaktualizowany użytkownik
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    delete:
      summary: Usuń użytkownika
      operationId: deleteUser
      tags:
        - Users
      parameters:
        - name: id
          in: path
          required: true
          description: ID użytkownika
          schema:
            type: integer
      responses:
        '200':
          description: Użytkownik został usunięty
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Użytkownik został usunięty."

  /fuel-price-suggestions:
    get:
      summary: Pobierz propozycje cen paliw
      operationId: getFuelPriceSuggestions
      tags:
        - Fuel Price Suggestions
      responses:
        '200':
          description: Lista propozycji cen paliw
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FuelPriceSuggestion'

    post:
      summary: Dodaj propozycję ceny paliwa
      operationId: createFuelPriceSuggestion
      tags:
        - Fuel Price Suggestions
      requestBody:
        description: Dane propozycji ceny paliwa
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuelPriceSuggestion'
      responses:
        '201':
          description: Propozycja ceny paliwa została dodana
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelPriceSuggestion'

  /fuel-price-suggestions/{id}:
    get:
      summary: Pobierz szczegóły propozycji ceny paliwa
      operationId: getFuelPriceSuggestionById
      tags:
        - Fuel Price Suggestions
      parameters:
        - name: id
          in: path
          required: true
          description: ID propozycji ceny paliwa
          schema:
            type: integer
      responses:
        '200':
          description: Szczegóły propozycji ceny paliwa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelPriceSuggestion'

    put:
      summary: Zaktualizuj propozycję ceny paliwa
      operationId: updateFuelPriceSuggestion
      tags:
        - Fuel Price Suggestions
      parameters:
        - name: id
          in: path
          required: true
          description: ID propozycji ceny paliwa
          schema:
            type: integer
      requestBody:
        description: Zaktualizowane dane propozycji ceny paliwa
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FuelPriceSuggestion'
      responses:
        '200':
          description: Zaktualizowana propozycja ceny paliwa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelPriceSuggestion'

    delete:
      summary: Usuń propozycję ceny paliwa
      operationId: deleteFuelPriceSuggestion
      tags:
        - Fuel Price Suggestions
      parameters:
        - name: id
          in: path
          required: true
          description: ID propozycji ceny paliwa
          schema:
            type: integer
      responses:
        '200':
          description: Propozycja ceny paliwa została usunięta
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Propozycja ceny paliwa została usunięta."

components:
  schemas:
    Station:
      type: object
      properties:
        id:
          type: integer
        brand_id:
          type: integer
        name:
          type: string
        address:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        fuels:
          type: array
          items:
            $ref: '#/components/schemas/StationFuelType'
      required:
        - brand_id
        - name
        - address
        - latitude
        - longitude

    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        is_admin:
          type: boolean
      required:
        - name
        - email

    FuelType:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - name

    StationFuelType:
      type: object
      properties:
        id:
          type: integer
        station_id:
          type: integer
        fuel_type_id:
          type: integer
      required:
        - station_id
        - fuel_type_id

    FuelPriceSuggestion:
      type: object
      properties:
        id:
          type: integer
        station_id:
          type: integer
        fuel_type_id:
          type: integer
        suggested_price:
          type: number
          format: float
        suggested_on:
          type: string
          format: date
      required:
        - station_id
        - fuel_type_id
        - suggested_price
        - suggested_on
